*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

body{
  font-family: Arial, Helvetica, sans-serif;
  min-width: 100vw;
  min-height: 100vh;
}

body * + * {
  margin-top: 16px;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  width: 100%;
  /* height: 100vh; */
}
@media (max-width: 600px) {
  .container{
    justify-content: center;
  }
}
label {
  font-weight: bold;
  margin-bottom: 5px;
  display: inline;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  /* width: 100%; */
  font-size: 16px;
}

.display{
  height: 100px; 
  width: 100px;
  border: 1px solid #ccc;
}

