 /* Reset default styles */
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    }

    body {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      min-height: 100vh;
      background: #f0f4f8;
      color: #333;
    }
    
	  @media screen and (min-width: 600px){
	          .container{
	              max-width: 400px;
	              max-height: 400px;
	              background: red;
	          }
	          body{
	            align-items: center;
	          }
	       }
    .container {
      background: #fff;
      padding: 30px 40px;
      border-radius: 12px;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
      width: 100%;
      display: flex;
      height: 100vh;
      flex-direction: column;
      gap: 20px;
      
    }

    h1 {
      text-align: center;
      margin-bottom: 20px;
      color: #0077cc;
    }

    label {
      font-weight: bold;
      margin-bottom: 5px;
      display: block;
    }

    input {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 8px;
      width: 100%;
      font-size: 16px;
    }

    span {
      font-weight: normal;
      margin-left: 10px;
      color: #0077cc;
    }